#plus-invoice {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #7c5dfa;
  border-radius: 24px;
  color: white;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: bold;
  padding: 6px;
  padding-right: 15px;

  span {
    background-color: #ffffff;
    padding: 11px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#new-invoice-container {
  padding: 33px 24px 100px;

  transition: transform 0.3s ease-in-out,
    background-color var(--color-transition);

  &:not(.visible) {
    transform: translateX(-100%);
  }

  #back-btn {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: bold;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 32px;
    margin-top: 26px;
    margin-bottom: 22px;
  }

  h3 {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.25px;
    line-height: 15px;
    color: #7c5dfa;
    margin-bottom: 24px;
  }

  .city-code {
    display: flex;
    gap: 23px;
  }

  .form-input {
    width: 100%;
    label {
      display: block;
      color: #7e88c3;
      margin-bottom: 9px;
    }



    input,
    .select-terms {
      border: 1px solid #dfe3fa;
      width: 100%;
      padding: 20px 18px;
      margin-bottom: 25px;
      border-radius: 4px;
    }

    input{
      @apply bg-background-input-light dark:bg-background-input-dark transition-colors duration-300;
    }

    .select-terms{
      #terms-dropdown{
        filter: drop-shadow(0px 10px 20px rgba(72, 84, 159, 0.25));
        
        p{
          padding: 15px 24px;
          @apply bg-background-input-light dark:bg-background-input-dark cursor-pointer;
        }
      }
    }
    
  }
}
