<section id="home-header" class="flex justify-between primary-text-color">
  <article>
    <h3 class="heading-l">
      Invoices
    </h3>
    <h4 class="text-body-variante text-text-secondary-light dark:text-text-secondary-dark">No invoices</h4>
  </article>

  <article class="flex items-center gap-[1.125rem]">

    <div id="filter" class="relative flex items-center group">
      <div class="text flex items-center justify-center gap-3 cursor-pointer">
        <p class="heading-s-variante">Filter <span class="hidden">by status</span></p>
        <button class="rotate-0 group-hover:rotate-180 transition-all duration-300 ease-linear">
          <svg width="11" height="7" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1l4.228 4.228L9.456 1" stroke="#7C5DFA" stroke-width="2" fill="none" fill-rule="evenodd" />
          </svg>
        </button>
      </div>


      <div id="filter-drop-down">

        <div>
          <div class="input-container">
            <input type="checkbox" id="draft" name="draft" value="draft">
            <label for="draft">Draft</label>
          </div>

          <div class="input-container">
            <input type="checkbox" id="pending" name="pending" value="pending">
            <label for="pending">Pending</label>
          </div>

          <div class="input-container">
            <input type="checkbox" id="paid" name="paid" value="paid">
            <label for="paid">Paid</label>
          </div>
        </div>

      </div>
    </div>


    <app-new-invoice />


  </article>
</section>