<section id="home-header">
  <article>
    <h3>
      Invoices
    </h3>
    <h4>No invoices</h4>
  </article>

  <article>

    <div id="filter">
      <div class="text">
        <p>Filter <span>by status</span></p>
        <button>
          <svg width="11" height="7" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1l4.228 4.228L9.456 1" stroke="#7C5DFA" stroke-width="2" fill="none" fill-rule="evenodd" />
          </svg>
        </button>
      </div>


      <div id="filter-drop-down">

        <div>
          <div class="input-container">
            <input type="checkbox" id="draft" name="draft" value="draft">
            <label for="draft">Draft</label>
          </div>

          <div class="input-container">
            <input type="checkbox" id="pending" name="pending" value="pending">
            <label for="pending">Pending</label>
          </div>

          <div class="input-container">
            <input type="checkbox" id="paid" name="paid" value="paid">
            <label for="paid">Paid</label>
          </div>
        </div>

      </div>
    </div>


    <app-new-invoice />


  </article>
</section>