@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --menu-toggle-btn-img: url('assets/icon-moon.svg');

  --text-color: #0c0e16;

  --text-color-secondary: #888eb0;
  --filter-background: #ffffff;
  --filter-input-background: #dfe3fa;

  --new-invoice-background: #ffffff;

  --color-transition: 0.3s linear;
}

[data-theme='dark'] {
  
  --menu-toggle-btn-img: url('assets/icon-sun.svg');

  --text-color: #ffffff;
  --text-color-secondary: #dfe3fa;

  --filter-background: #252945;
  --filter-input-background: #1e2139;
}

body {
  font-family: 'League Spartan', sans-serif;

  transition: background-color var(--color-transition);

  @apply bg-background-light dark:bg-background-dark;
}

main {
  padding: /* 32px 24px */ 2rem 1.5rem;
}

.text-sm {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  font-weight: 500;
}

.text-m {
  font-size: 15px;
  letter-spacing: -0.25px;
  line-height: 15px;
  font-weight: bold;
  
  transition: color var(--color-transition);

  @apply text-text-light dark:text-text-dark;
}
